policy_module(local, 1.0.7)

gen_require(`
	type httpd_t, dovecot_t, sendmail_t, cupsd_t, smbd_t;
	type pop_port_t, smtp_port_t;
	class tcp_socket name_connect;
')

type local_cert_t;
files_type(local_cert_t);

read_files_pattern(httpd_t, local_cert_t, local_cert_t)
read_files_pattern(dovecot_t, local_cert_t, local_cert_t)
read_files_pattern(sendmail_t, local_cert_t, local_cert_t)
read_files_pattern(cupsd_t, local_cert_t, local_cert_t)

# mail.ocho.com
allow httpd_t pop_port_t:tcp_socket name_connect;
allow httpd_t smtp_port_t:tcp_socket name_connect;

# Samba files on www
type samba_www_t;
files_type(samba_www_t);

list_dirs_pattern(httpd_t, samba_www_t, samba_www_t)
read_files_pattern(httpd_t, samba_www_t, samba_www_t)
manage_files_pattern(smbd_t, samba_www_t, samba_www_t)
manage_dirs_pattern(smbd_t, samba_www_t, samba_www_t)

# rsync files via samba
type samba_rsync_t;
files_type(samba_rsync_t);

list_dirs_pattern(smbd_t, samba_rsync_t, samba_rsync_t)
read_files_pattern(smbd_t, samba_rsync_t, samba_rsync_t)
