text
skipx
install
url --url http://t100.chepkov.lan/linux/redhat/6/x86_64/os
repo --name=vvc --baseurl=http://chepkov.com/rpms/redhat/6/x86_64
lang en_US.UTF-8
keyboard us
rootpw 123456
firewall --disabled
authconfig --enableshadow --enablemd5
selinux --disabled
timezone Etc/UTC
bootloader --location=mbr
zerombr
clearpart --all --initlabel
part / --fstype ext3 --fsoptions="noatime" --size=512 --grow
part swap --size=512
part /u00 --fstype ext2 --size=256

logging --host=t100.chepkov.lan --level=debug
services --enabled=ntpd,sendmail --disabled=haldaemon

reboot

%packages --nobase
drbd-pacemaker
drbd-udev
drbd-utils
mailx
ntp
openssh-server
openssh-clients
rsync
sendmail
sudo
yum
yum-utils
wget
which
-postfix
-prelink
-selinux-policy-targeted

%post
#!/bin/bash
exec &>/root/post.log

cat >> /etc/sudoers <<SUDO

Defaults ignore_dot,always_set_home,!lecture
Defaults:root     !syslog
%wheel  ALL=(ALL)   NOPASSWD: ALL
SUDO

# Initial time set
echo t100 >> /etc/ntp/step-tickers

# don't mount partitions for drbd
sed -i '/\/u0[01]/d' /etc/fstab

sed -i -e 's/^ACTIVE_CONSOLES.*/ACTIVE_CONSOLES=""/' /etc/sysconfig/init

cat > /etc/yum.repos.d/local.repo <<EOF
[local]
name=Local Image
baseurl=http://t100.chepkov.lan/linux/redhat/6/x86_64/os
gpgcheck=0
enabled=1
cost=100
EOF

yum -y --enablerepo=\* install yum-fastestmirror
yum -y --enablerepo=\* update
yum -y --enablerepo=\* install pacemaker corosync

sed -i -e 's/.*chkconfig:.*/# chkconfig: 345 99 00/' /etc/rc.d/init.d/corosync

wget -q -O /etc/corosync/corosync.conf http://chepkov.com/svn/cfg/clusters/cluster6/corosync.conf

yum -y install drbd-km-$(rpm -q --queryformat "%{VERSION}_%{RELEASE}.%{ARCH}\n" kernel|tail -1)
chkconfig drbd off

wget -q -O /etc/drbd.conf http://chepkov.com/svn/cfg/clusters/cluster6/drbd.conf
wget -q -O /root/crm.cfg http://chepkov.com/svn/cfg/clusters/cluster6/crm.cfg
wget -q -O /root/drbdinit.sh http://chepkov.com/svn/cfg/clusters/cluster6/drbdinit.sh
chmod +x /root/drbdinit.sh

echo 'domain chepkov.lan' >> /etc/resolv.conf
